<div class="mat-elevation-z4">
    <mat-toolbar>
      <div class="titleDiv" fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
        <img class="logo" src="../../assets/logo.png">
        <span class="desc-big">   AI for interview prep</span>
      </div>
  
      <div class="buttonsDiv" fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="end center">
        <div fxLayoutGap="1.5em">
          <span class="desc">View the source code</span>
          <span class="desc">Contact the devs</span>
        </div>
      </div>
    </mat-toolbar>
  </div>