<div class="wrapper" fxLayoutAlign="center center" fxLayoutGap="2em">
  <div class="desc-wrapper">
    <h2>Part 1</h2>
    <p>In this section, you'll be answering general behavioral questions. The chatbot will grade you 
      on each question by sentiment.
    </p>
  </div>  
  <div fxLayout="column" fxLayoutGap="1em">
    <div class="content-wrapper mat-elevation-z4" fxLayout="column">
      <div class="chat" style="height: 20em">
        <div fxLayout="column">
          <div class="message" *ngFor="message in ">
            <app-message [sentByAI]="message.sentByAI" [messageText]="message.message"></app-message>
          </div>
        </div>
      </div>
    </div>
    <div class="input-wrapper mat-elevation-z4">
      <mat-form-field class="no-line">
        <input class="invisible" matInput id="user-message" [(ngModel)]="curMessage">
      </mat-form-field>
    </div>
  </div>
</div>