<div class="wrapper" fxLayoutAlign="center center" fxLayoutGap="2em">
  <div class="desc-wrapper">
    <h2>Part 1</h2>
    <p>In this section, you'll be answering general behavioral questions. The chatbot will grade you 
      on each question by sentiment.
    </p>
  </div>  
  <div fxLayout="column" fxLayoutGap="1em">
    <div class="content-wrapper mat-elevation-z4" fxLayout="column">
      <div class="chat" style="height: 20em">
        <div fxLayout="column" fxLayoutGap="1em">
          <div class="message" *ngFor="let message of messages">
            <div *ngIf="!message.sentByAI; else sentByAI" fxLayoutAlign="end">
              <app-message [sentByAI]="message.sentByAI" [messageText]="message.message"></app-message>
            </div>
            <ng-template #sentByAI>
              <app-message [sentByAI]="message.sentByAI" [messageText]="message.message"></app-message>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="input-wrapper mat-elevation-z4">
      <mat-form-field class="no-line">
        <input class="invisible" matInput id="user-message" [(ngModel)]="curMessage">
        <button mat-icon-button matSuffix (click)="nextMessage()">
            <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>