h1 {
    font-size: 3em;
}

.main {
    height: 85vh;
}

.file-wrapper {
    position: relative;
    margin: 1em 0;
}

#file-input {
    opacity: 0;
    z-index: 2;
}

#file-disguise {
    position: absolute;
    background-color: rgb(224, 108, 147);
}

#upload {
    margin-top: 1em;
    background-color: gray;
}